.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6bebe;
  padding: 10px 20px;
  border-radius: 10px;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
